<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add Product</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/market">Market</a></li>
                <li><a href="/about">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <form class="lr-form" method="post">
            <h3>Add Product</h3>
            {% csrf_token %}
            <div class="input">
                <input type="text" name="product-name" placeholder="Name" maxlength=50 required>
            </div>

            <div class="input">
                <input type="number" name="price" placeholder="Price" min=0 required>
            </div>

            <div class="input">
                <textarea name="description" placeholder="Description" maxlength=500 rows=10, cols=24 required></textarea>
            </div>

            <div class="input">
                <button type="submit" name="submit">Add Product</button>
            </div>
        </form>
    </body>
</html>
