{% extends "layouts/base.html" %}

{% block title %} Add Product {% endblock title %}

{% block content %}

    <form class="form lr" method="post" enctype="multipart/form-data">
        <h3>Add Product</h3>
        {% csrf_token %}
        <div class="input">
            <label for="name">Name</label>
            <input id="name" type="text" name="product-name" maxlength=50 required>
        </div>

        <div class="input">
            <label for="price">Price</label>
            <input id="price" type="number" name="price" min=0 required>
        </div>

        <div class="input">
            <label for="desc">Description</label>
            <textarea id="desc" name="description" maxlength=500 rows=10, cols=24 required></textarea>
        </div>

        <div class="input">
            <label for="image">Add an Image</label>
            <input id="image" name="image" type="file" accept="image/*">
        </div>

        <div class="input">
            <button type="submit" name="submit">Add Product</button>
        </div>
    </form>

{% endblock content %}
