{% extends "layouts/base.html" %}

    {% block title %} Buyers of {{ product.name }} {% endblock title %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    <main>
        <h3>Buyers of <a href="{% url 'product' product.id %}">{{ product.name }}</a></h3>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total (₹)</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in buyers %}
                    <tr>
                        <td><a id="product-name" href="{% url 'user' u.user %}">{{ u.user }}</a></th>
                        <td>{{ u.price }}</th>
                        <td>{{ u.quantity }}</th>
                        <td>{{ u.total }}</th>
                        <td>{{ u.date }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ quantity }}</td>
                        <td>{{ total }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
    {% endif %}
</div>

{% endblock content %}
