{% extends 'layouts/base.html' %}

{% block title %} Cart {% endblock title %}

{% block content %}

    <div class="cart">
        <div class="title">
            <p>Cart ({{ cart_items.count }})</p>
        </div>
        <div class="heading">
            <p>Product</p>
            <p>Price</p>
            <p>Quantity</p>
            <p>Total</p>
        </div>
    {% for i in cart_items %}
        <div class="product">
            <a href="{% url 'product' i.product.id %}">
                <img src="/static{{ i.product.image.url }}">
                <p>{{ i.product.name }}</p>
                <p>{{ i.product.price }}</p>
                <p>{{ i.quantity }}</p>
                <p>{{ i.total }}</p>
            </a>
            <form action="{% url 'cart-del' i.product.id %}" method="post">
                {% csrf_token %}
                <button class="confirm" id="cart-del" type="submit">×</button>
            </form>
        </div>
    {% endfor %}
        <div class="total">
            <p>Total</p>
            <p>₹ {{ cart.total }}</p>
        </div>
        <div class="checkout">
            <form action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <button class="confirm" type="submit">Checkout</button>
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}
