<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="nav">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>

            <form action="/add">
                <div class="input">
                    <label for="num1">Number 1</label><br>
                    <input type="number" name="num1" value="">
                </div>

                <div class="input">
                    <label for="num2">Number 2</label><br>
                    <input type="number" name="num2" value="">
                </div>

                <div class="input">
                    <button name="submit">Add</button>
                </div>
            </form>
        </div>
    </body>
</html>
