<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/market">Market</a>
            <a href="/about">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user' user.username %}">{{ user.username }}</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </nav>
    </body>
</html>
