<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>

            <h3>Login</h3>

            <form method="post">
                <div class="input">
                    <input type="email" name="email" placeholder="Email" maxlength=50 required=true>
                </div>

                <div class="input">
                    <input type="password" name="password" placeholder="Password" maxlength=50 required=true>
                </div>

                <div class="input">
                    <button type="submit" name="submit">Login</button>
                </div>
            </form>

            <p><a href="/register">Register an account</a></p>
        </div>
    </body>
</html>
