<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/market">Market</a></li>
                <li><a href="/about">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user' user.username %}">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="lr-form">
            <h3>Login</h3>
            <form method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" maxlength=50 required>
                </div>

                <div class="input">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" maxlength=50 required>
                </div>

                <div class="input">
                    <button type="submit" name="submit">Login</button>
                </div>
            </form>

            <div>Not registered? <a href="/register">Create an account</a></div>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
