{% extends "layouts/base.html" %}

{% block title %} Market {% endblock title %}

{% block content %}

    <h1>Market</h1>

    {% if user.is_authenticated %}
        <a href="/product/add">Add</a>
    {% endif %}

    {% if products %}
    <div class="product-container">
        {% for product in products %}
        <div class="product">
            <a id="product-name" href="{% url 'product' product.id %}"><img src="/static{{ product.image.url }}"></a>
            <p>
                <a id="product-name" href="{% url 'product' product.id %}">{{ product.name }}</a> by <a href="{% url 'user' product.author %}">{{ product.author }}</a>
            </p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

{% endblock content %}
