{% extends "layouts/base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

    <div class="form lr">
        <h3>Recover {{ type }}</h3>
        <form action="{% url 'send-pass-mail-confirm' %}" method="post">
            {% csrf_token %}

            <div class="input">
                <label for="email">Your email</label>
                <input type="hidden" name="type" value="{{ type }}"/>
                <input id="email" type="email" name="email" maxlength=50 required>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock content %}
