<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ product.name }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/market">Market</a>
            <a href="/about">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user' user.username %}">{{ user.username }}</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </nav>

        <div class="pdetails">
            <img src="/static/{{ product.image.url }}">

            <section>
                <div class="phead">
                    <div class="pname">
                        <h2>{{ product.name }}</h2>
                        <p>by <a href="{% url 'user' product.author %}">{{ product.author }}</a></p>
                        <p>Rating: {{ product.rating }}</p>
                    </div>
                {% if user.is_authenticated and user == product.author %}
                    <div class="edit">
                        <a href="{% url 'product-update' product.id %}">Update</a>
                        <a href="{% url 'product-del' product.id %}">Delete</a>
                    </div>
                {% endif %}
                </div>
                <div class="price">
                    <p>₹ {{ product.price }}</p>
                    <a href="">Add to Cart</a>
                </div>
                <div class="desc">
                    <h5>About</h5>
                    <p>{{ product.desc }}</p>
                </div>
            </section>
        </div>

        <div class="metadata">
            <p>Added on {{ product.creation_date }}</p>
        </div>

        <section class="reviews">
            <div>
                <h2>Reviews</h2>
                <a id="add-review" href="">Add Review</a>
            </div>
            <p>There are no reviews yet</p>
        </section>

        <section class="similar">
            <h3>Simliar Items</h3>
        </section>

    </body>
</html>
