<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ product.name }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>

            <summary>
                <h3>{{ product.name }}</h3>
                <h3>By {{ product.author }}</h3>
                <p><em>Added on {{ product.creation_date }}</em></p>

                <div><p>Rating: {{ product.rating }}</p></div>

                <div><p>Price: {{ price }}</p></div>

                <div><p>Description: {{ desc }}</p> </div>
            </summary>

            <section>
                <h3>Reviews</h3>
                <a href="">Add Review</a>
                <hr>
                <p>There are no reviews yet. Be the first one to <a href="">write a review</a>.</p>
            </section>

            <section>
                <h3>Simliar Items</h3>
            </section>

        </div>
    </body>
</html>
