<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/market">Market</a>
            <a href="/about">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user' user.username %}">{{ user.username }}</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </nav>

        <div class="form lr">
            <h3>Register</h3>
            <form method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" maxlength=50 required>
                </div>

                <div class="input">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" maxlength=50 required>
                </div>

                <div class="input">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" maxlength=50 required>
                </div>

                <div class="input">
                    <button type="submit" name="submit">Register</button>
                </div>
            </form>

            <div>Have an account? <a href="/login">Login</a></div>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
