{% extends "layouts/base.html" %}

{% block title %} Sales {% endblock title %}

{% block content %}

<div class="container">
    <main>
        <h3>Your Sales</h3>
        <div>
            <ul>
            {% for p in sales %}
            <li>
                <a id="product-name" href="{% url 'product' p.pid %}">{{ p.name }}:</a>
                <span>₹{{ p.total }} at ₹{{p.price}} ({{ p.quantity }})<em> on {{ p.date }}</em></span>
            </li>
            {% endfor %}
            </ul>
        </div>
    </main>
</div>

{% endblock content %}
