{% extends "layouts/base.html" %}

    {% block title %} Search results for {{ query }} {% endblock title %}

{% block content %}

<div class="container">
    <main>
        <div class="product-bar">
            <h3>Search results for {{ query }}</h3>
        </div>

        {% include "./components/searchbar.html" with user=username query=query %}

        {% if products %}
        <div class="product-container">
            {% for p in products %}
            <div class="product">
                <a id="product-name" href="{% url 'product' p.id %}"><img src="/static{{ p.image.url }}"></a>
                <p>
                    <a id="product-name" href="{% url 'product' p.id %}">{{ p.name }}</a> by <a href="{% url 'user' p.author %}">{{ p.author }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </main>
</div>

{% endblock content %}
