<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Settings</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/market">Market</a>
            <a href="/about">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user' user.username %}">{{ user.username }}</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </nav>

        <aside>
            <h4>User settings</h4>
            <a href="/user/settings">Profile</a>
            <a href="/user/settings/account">Account</a>
        </aside>

        <div class="form">
            <form method="post">
                {% csrf_token %}

                <div class="input">
                    <label for="old-password">Old Password</label>
                    <input id="old-password" type="password" name="old-password" maxlength=50 required>
                </div>

                <div class="input">
                    <label for="password">New Password</label>
                    <input id="password" type="password" name="password" maxlength=50 required>
                </div>

                <div class="input">
                    <label for="confirm-pw">Confirm New Password</label>
                    <input id="confirm-pw" type="password" name="confirm-pw" maxlength=50 required>
                </div>

                <div class="input">
                    <button type="submit" name="submit">Save</button>
                </div>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
