<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Settings</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/market">Market</a></li>
                <li><a href="/about">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user' user.username %}">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <aside>
            <h4>User settings</h4>
            <a href="/user/settings">Profile</a>
        </aside>

        <div class="lr-form">
            <form method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" maxlength=50 value="{{ user.username }}" required>
                </div>

                <div class="input">
                    <label for="fname">First Name</label>
                    <input id="fname" type="text" name="fname" maxlength=50 value="{{ user.first_name }}">
                </div>

                <div class="input">
                    <label for="lname">Last Name</label>
                    <input id="lname" type="text" name="lname" maxlength=50 value="{{ user.last_name }}">
                </div>

                <div class="input">
                    <button type="submit" name="submit">Save</button>
                </div>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
