{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock title %}

{% block content %}

    <div class="settings">
        <aside class="menu">
            <p class="header">User settings</p>
            <a class="active" href="/user/settings">Profile</a>
            <a href="/user/settings/account">Account</a>
        </aside>

        <div class="form">
            <p class="header">Public Profile</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="input">
                    <label for="pic">Profile Picture</label>
                    <div class="pic">
                        <img src="/static{{ user.pic.url }}" alt="profile picture">
                        <input id="pic" name="pic" type="file" accept="image/*">
                    </div>
                </div>

                <div class="input">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" maxlength=50 value="{{ user.username }}" required>
                </div>

                <div class="input">
                    <label for="fname">First Name</label>
                    <input id="fname" type="text" name="fname" maxlength=50 value="{{ user.first_name }}">
                </div>

                <div class="input">
                    <label for="lname">Last Name</label>
                    <input id="lname" type="text" name="lname" maxlength=50 value="{{ user.last_name }}">
                </div>

                <div class="input">
                    <button type="submit" name="submit">Save</button>
                </div>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}
