{% extends "layouts/base.html" %}

{% block title %} Update Product {% endblock title %}

{% block content %}

    <form class="form lr" method="post" enctype="multipart/form-data">
        <h3>Update {{ product.name }}</h3>
        {% csrf_token %}
        <div class="input">
            <label for="name">Name</label>
            <input id="name" type="text" name="product-name" value="{{ product.name }}" maxlength=50 required>
        </div>

        <div class="input">
            <label for="price">Price</label>
            <input id="price" type="text" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" name="price" value="{{ product.price }}" min=0 required>
        </div>

        <div class="input">
            <label for="desc">Description</label>
            <textarea id="desc" name="description" maxlength=500 rows=10, cols=24 required>{{ product.desc }}</textarea>
        </div>

        <div class="input">
            <label for="image">Image</label>
            <input id="image" name="image" type="file" accept="image/*">
        </div>

        <div class="input">
            <button type="submit" name="submit">Update</button>
        </div>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

{% endblock content %}
