{% extends "layouts/base.html" %}

{% block title %} {{ profile.username }}'s Profile {% endblock title %}

{% block content %}
    <div class="container">
        <aside class="user">
            <img src="/static{{ profile.pic.url }}" alt="profile picture">
            <h3>{{ profile.username }}</h3>
            <p id="flname">
            {% if profile.first_name %} {{ profile.first_name }} {% endif %}
            {% if profile.last_name %} {{ profile.last_name }} {% endif %}
                <a href="mailto:{{ profile.email }}">Contact</a>
            </p>
            <div class="bio">
                {% if profile.bio %}
                <p>Bio</p>
                <p>{{ profile.bio }}</p>
                {% endif %}
            </div>

            <div class="reported">
            {% if reported == True %} <p>USER HAS BEEN REPORTED</p> {% endif %}
            </div>

            <p><em>joined on {{ profile.date_joined|date:"M d Y \a\t H:i" }}</em></p>

            {% if user.is_authenticated and user != profile %}
            <dialog id="popup" class="report form h150">
                <form action="{% url "report" %}" method="post">
                    {% csrf_token %}
                    <label for="report-select">Select a Report:</label><br>
                    <select name="report" id="report-select" required>
                        <option value="">--Select a report--</option>
                        <option value="Spam">Spam</option>
                        <option value="Scam">Scam</option>
                        <option value="Other">Other</option>
                    </select><br>
                    <div class="input" id="scam-div">
                        <label for="scam-product">Product ID</label>
                        <input id="scam-product" type="number" name="scam-pid">
                    </div>
                    <div class="input" id="other-div">
                        <label for="other-report">Details</label>
                        <textarea id="other-report" name="other-report" placeholder="(250 characters)" rows=10 maxlength=250 required></textarea>
                    </div>
                    <input type="hidden" name="user" value="{{ profile }}"/>
                    <button type="submit">Submit Report</button>
                </form>
                <button onclick="popup.close()">Close</button>
            </dialog>
            <div class="poplink"><button onclick="popup.showModal()">Report</button></div>
            {% endif %}

        </aside>

        <main>
            <div class="product-bar">
                {% if user.is_authenticated and user == profile %}
                <h3>Your Products</h3>
                {% else %}
                <h3>{{ profile.username }}'s Products</h3>
                {% endif %}
                {% if user.is_authenticated %}
                <a class="add" href="{% url "product-add" %}">+ Add</a>
                {% endif %}
            </div>

            {% include "./components/searchbar.html" with user=profile.username query=query %}

            {% if products %}
            <div class="product-container">
                {% for product in products %}
                <div class="product">
                    <a id="product-name" href="{% url 'product' product.id %}"><img src="/static{{ product.image.url }}"></a>
                    <p>
                        <a id="product-name" href="{% url 'product' product.id %}">{{ product.name }}</a>
                    </p>
                </div>
                {% endfor %}
            </div>
            {% else %}
                {% if user.is_authenticated and user == profile %}
                <p>You have no products</p>
                {% else %}
                <p>This user has no products</p>
                {% endif %}
            {% endif %}

        </main>
    </div>

{% endblock content %}
