<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ profile.username }}'s Profile</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/market">Market</a>
            <a href="/about">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user' user.username %}">{{ user.username }}</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </nav>

        <h3>{{ profile.username }}</h3>

        {% if user.is_authenticated and user == profile %}
            <a href="/user/settings">Settings</a>
        {% endif %}

        {% if user.is_authenticated and user == profile %}
            <a href="/logout">Log out</a>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% if products %}
        <div class="product-container">
            {% for product in products %}
            <div class="product">
                <a id="product-name" href="{% url 'product' product.id %}"><img src="/static{{ product.image.url }}"></a>
                <p>
                    <a id="product-name" href="{% url 'product' product.id %}">{{ product.name }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>This user has no products</p>
        {% endif %}
    </body>
</html>
