$red: #ff4343;
$red-dark: #de3b3b;
$orange: #fe8019;
$yellow: #fabd2f;
$green: #4cca51;
$green-dark: #4caf50;
$grey: #9198a1;
$grey-dark: #3d444d;
$white: #ffffff;
$white-dark: #f1f3f5;
$blue: #54a4dc;
$blue-dark: #4793cc;
$blue-light: #1f6feb;
$navy: #082437;
$navy-light: #304f64;
$navy-dark: #0c1a24;
$navy-bg: #04121b;
$shadow: #0000011a;
$star: "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e";
$starfill: "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e";
$starhover: "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 6px;
}

nav {
  width: 100%;
  display: flex;
  padding: 0.6rem 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: $blue-dark;

  #user {
    font-weight: bold;
    background-color: inherit;

    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.5rem 1.2%;
    gap: 0.5rem;

    &:hover {
      background-color: $navy-dark;
    }
  }
}

.navitem {
  color: $white;
  padding: 0.5rem 1.2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $navy-dark;
  }
}

.navicon {
  width: 28px;
  border: 2px solid $white;
}

.nlast {
  margin-left: auto;
}

.user {
  border-radius: 50%;
}

.container {
  display: flex;
}

.container main {
  margin: 1rem 1.2rem;
  width: 100%;
}

aside.user {
  display: flex;
  flex-direction: column;
  height: 88vh;
  max-width: 250px;
  padding: 1.5rem;
  margin: 1rem 1.2rem;
  border-right: 1px solid $grey;
  border-radius: 0;

  h3 {
    font-size: 30px;
  }

  #flname {
    display: inline;
    font-size: 20px;
    color: $grey;

    a {
      font-size: 13px;
    }
  }

  img.user {
    width: 100%;
    border-radius: 50%;
    border: 6px solid $navy-light !important;
    margin: 0 0 5px 0;
  }

  p:last-of-type {
    margin-top: auto;
  }
}

.bio {
  margin: 10px 0;
  p:first-of-type {
    font-weight: 500;
    font-size: 18px;
    color: $grey;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: 6px;

  a {
    border-radius: 0;
    padding: 13px 16px;

    &:hover {
      text-decoration: none;
    }
  }

  .header {
    font-weight: 600;
    padding: 0.7rem 1rem;
  }
}

#umenu {
  width: 14%;
  display: none;
  margin-right: 10px;
  top: 8%;
  text-align: left;
  position: absolute;
  left: auto !important;
  right: 0 !important;
}

a:hover:not(nav a) {
  text-decoration: underline;
}

.form {
  padding: 1.2rem;
  border-radius: 0.5rem;

  input, textarea, button {
    width: 100%;
    padding: 1.2%;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 5px 0 8px;
  }

  button[type="submit"] {
    color: $white;
    background-color: $green-dark;

    &:hover {
      background-color: $green;
    }
  }

  .header {
    font-weight: 800;
    margin: 0 0 10px;
  }
}

.input .pic {
  margin: 3px;

  img {
    max-width: 15%;
  }
}

.lr {
  margin: auto !important;

  h3 {
    text-align: center;
  }

  div {
    &:last-of-type {
      text-align: center;
    }
  }
}

.add {
  width: 60px;
  height: 25px;
  padding: 2px;
  font-size: 12px;
  font-weight: 800;
  margin: 3px 0 0 0;
  border-radius: 6px;
  text-align: center;
  color: $navy-dark;
  background-color: $blue-dark;

  &:hover {
    text-decoration: none;
    background-color: $blue;
  }
}

.product-bar {
  display: flex;
  gap: 1rem;
  margin: 8px 0 0 8px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 15px 0 0 0;
}

.product {
  margin: 8px;
  max-width: 10rem;
  border-radius: 0.5rem;

  img {
    max-width: 100%;
    object-fit: contain;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  p {
    text-align: center;
    margin: 0 3px 6px;
  }

  #product-name {
    font-weight: 800;
  }
}

.pdetails {
  display: flex;
  margin: 1.5rem 0 0 0;

  img {
    width: 30%;
    margin: 0 0 0 10%;
  }

  section {
    min-width: 30%;
    max-width: 35%;
    margin: 0 0 0 5%;
  }

  hr {
    margin: 0.5rem 0;
  }
}

.phead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  border-bottom: 1px solid $grey;

  .stock {
    color: $green;
    &.low {
      color: $orange;
    }
    &.nil {
      color: $red;
    }
  }
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 0.8rem;
}

.product-cart {
  display: flex;
  justify-content: space-between;

  .price {
    font-weight: 500;
    font-size: 30px;
  }
}

.p-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 5px 0;
  input {
    width: 5rem;
  }
}

.q-update {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}

.desc {
  margin: 10px 0 0 0;
}

.metadata {
  margin: 4rem 0 0 10%;
}

.reviews,
.similar {
  margin: 1.5rem 0 1.5rem 10%;
}

.reviews {
  max-width: 35%;

  h2 {
    display: inline;
  }

  #h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
    padding: 0.5rem 0;
    margin: 0 0 0.5rem 0;
    border-bottom: 1px solid $grey;
  }

  form {
    padding: 0;
    border: none;
    display: none;
    box-shadow: none;
    margin: 0 0 3rem 0;

    div:last-of-type {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin: 5px 5px 8px;
      }
    }
  }

  hr {
    width: 100%;
  }

  button {
    width: 20%;
  }
}

.comment {
  .edit {
    padding: 0;
    border: none;
    display: none;
    max-width: 40%;
    box-shadow: none;
    margin: 0 !important;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin: 5px 5px 8px;
      }
    }
  }
}

#add-comment {
  cursor: pointer;
}

.cancel {
  cursor: pointer;
  background-color: $red-dark;

  &:hover {
    background-color: $red;
  }
}

.delete {
  color: $red;
}

.comments {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10%;

  a {
    font-size: 15px;
    font-weight: 700;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem 0;

  .chead {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span:first-of-type {
      color: $grey;
      margin: 0 0 0 10px;
    }

    .cedit {
      margin: 0 0 0 10px;

      a {
        cursor: pointer;
        font-weight: unset;
      }
    }
  }

  form {
    display: inline;
  }

  button {
    &:hover {
      text-decoration: underline;
    }
  }
}

.star {
  background-image: url($star);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;

  &.fill {
    background-image: url($starfill);
  }
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  &.display {
    flex-direction: unset;

    span:nth-of-type(6) {
      margin-left: 5px;
    }
  }
}

.rating>input {
  display: none;
}

.rating>label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url($star);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
  background-image: url($starfill);
}

.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
  background-image: url($starhover);
}

#cart-add {
  background-color: $green-dark;
}

#cart-del {
  background-color: $red;
}

.cart {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 20px;
  padding: 1.2rem;
  border-radius: 0.5rem;
  min-height: 80vh;
  justify-content: flex-start;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .title {
    font-size: 30px;
    margin: 0 10px 0 0px;
    border-bottom: 1px solid $grey;
    p {
      margin-left: 10px;
    }
  }

  img {
    width: 5rem;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0 5px 5rem;
    border-bottom: 1px solid $grey;

    p {
      margin: 5px 10px 0 10px;

      &:last-of-type {
        margin: 5px 4rem 0 auto;
      }
    }
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    margin: 10px 0;
    max-width: 100%;

    p {
      &:last-of-type {
        margin: 5px 10px 0 auto;
      }
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0.3rem;

      p {
        margin: 0 0 0 30px;
      }
    }

    form {
      margin: 0 10px 0 10px;
    }

    button {
      padding: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $grey;
    margin-top: auto;
    padding: 10px 0 0 0;

    p {
      font-size: 20px;
    }
  }
}

.checkout {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 2px;
    padding: 0.3rem 0.5rem;
    background-color: $green-dark;
  }
}

.settings {
  justify-content: space-around;
  margin: 1.5rem 50px 0;

  .menu {
    width: 200px;
    max-height: 147px;
    display: flex;
    border-radius: 0.5rem;

    a:last-of-type {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }

  .form {
    width: 60%;
  }

  input[type="file"] {
    display: block;
    max-width: 33%;
  }

  button[type="submit"] {
    max-width: 150px;
  }

  .delete {
    border: 3px solid $red;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0 0 0;
    background: repeating-linear-gradient(
      45deg,
      rgba(255, 67, 67, 0.2),
      rgba(255, 67, 67, 0.2) 10px,
      rgba(4, 18, 27, 0.2) 10px,
      rgba(4, 18, 27, 0.2) 20px
      );

    button {
      max-width: 150px;
      background-color: $red-dark;
      &:hover {
        background-color: red;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: $white;
    background-color: $navy-dark;
  }

  a {
    color: $blue;
  }

  .product {
    outline: none;
    background-color: $navy-bg;
    border: 0.0625rem solid $grey-dark;

    &:hover {
      box-shadow: 5px 5px $blue-dark;
    }
  }

  .settings {
    color: $white;
  }

  .menu {
    outline: none;
    border: 1px solid $grey-dark;
    background-color: $navy-bg;

    a {
      color: $white;

      &:hover {
        background-color: $navy-light;
      }
    }

    .active {
      background-color: $navy;
    }
  }


  #umenu {
    box-shadow: 0 6px 8px $shadow;
  }

  .form, .cart {
    border: 1px solid $grey-dark;
    background-color: $navy-bg;
  }

  .comment .edit {
    background-color: unset;
  }

  .form {
    input,
    textarea {
      color: $white;
      border: 1px solid $grey-dark;
      background-color: $navy;
    }

    input,
    textarea {
      &:focus {
        border: none;
        outline: 0.08rem solid $blue;
        box-shadow: inset 0 0 0 1px $blue-light;
      }
    }

    button {
      color: $white;
    }
  }

  .reviews form,
  .comment button {
    background-color: $navy-dark;
  }

  .cart {
    a {
      color: $white-dark;
    }

    .product {
      background-color: $navy;
    }
  }
}
