@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

.err {
  margin: 22vh 0 0 0 !important;
  text-align: center;
}
.err span {
  font-size: 200px;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 6px;
}

nav {
  width: 100%;
  display: flex;
  padding: 0.6rem 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #4793cc;
}
nav #user {
  font-weight: bold;
  background-color: inherit;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem 1.2%;
  gap: 0.5rem;
}
nav #user:hover {
  background-color: #0c1a24;
}
nav #user img {
  border-radius: 50%;
}

.navitem {
  color: #ffffff;
  padding: 0.5rem 1.2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.navitem:hover {
  background-color: #0c1a24;
}

.navicon {
  width: 28px;
  border: 2px solid #ffffff;
}

.nlast {
  margin-left: auto;
}

.messages {
  top: 12%;
  margin-right: 2%;
  position: absolute;
  left: auto !important;
  right: 0 !important;
  width: 12%;
  list-style: none;
  text-align: center;
  z-index: 1000;
}
.messages li {
  padding: 0.4em;
  line-height: 2em;
  border-radius: 10px;
  word-wrap: none;
}

.container {
  display: flex;
}
.container main {
  margin: 1rem 1.2rem;
  width: 100%;
}

.menu {
  padding: 0;
}
.menu a {
  border-radius: 0;
  padding: 13px 16px;
}
.menu a:hover {
  text-decoration: none;
}
.menu .header {
  font-weight: 600;
  padding: 0.7rem 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  height: 88vh;
  max-width: 250px;
  padding: 1.5rem;
  margin: 1rem 1.2rem;
  border-right: 1px solid #9198a1;
  border-radius: 0;
}
aside h3 {
  font-size: 20px;
}
aside.user #flname {
  display: inline;
  font-size: 20px;
  color: #9198a1;
}
aside.user #flname a {
  font-size: 13px;
}
aside.user img {
  width: 100%;
  border-radius: 50%;
  border: 6px solid #304f64 !important;
  margin: 0 0 5px 0;
}
aside.user p:last-of-type {
  margin-top: auto;
}
aside.category {
  width: 200px;
  padding: 1.5rem 0;
}
aside.category label {
  margin: 5px;
}
aside.category input {
  margin: 3px;
}
aside.category button[type=submit] {
  width: 50%;
  padding: 1.2%;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 5px 0 8px 5px;
  color: #ffffff;
  background-color: #4caf50;
}
aside.category button[type=submit]:hover {
  background-color: #4cca51;
}

.bio {
  margin: 10px 0;
}
.bio p:first-of-type {
  font-weight: 500;
  font-size: 18px;
  color: #9198a1;
}

.reported {
  margin: 10px 0;
}
.reported p {
  font-weight: bold;
  font-size: 11px;
  color: #fe8019;
  margin: 1px;
}

#umenu {
  top: 8%;
  margin-right: 10px;
  position: absolute;
  left: auto !important;
  right: 0 !important;
  display: none;
  flex-direction: column;
}
#umenu a[href="/user/"]::before {
  font-size: 20px;
  content: "𐇑";
  margin-right: 5px;
}
#umenu a[href="/sales/"]::before {
  font-size: 20px;
  content: "$";
  margin-right: 5px;
}
#umenu a[href="/purchases/"]::before {
  font-size: 20px;
  content: "$";
  margin-right: 5px;
}
#umenu a[href="/user/settings"]::before {
  font-size: 20px;
  content: "⚙";
  margin-right: 5px;
}
#umenu a[href="/logout"]::before {
  font-size: 10px;
  content: "❌";
  margin-right: 5px;
}

table {
  margin: 4px 0;
  padding: 10px;
  border: 2px solid #304f64;
  border-collapse: collapse;
}
table thead {
  border-bottom: 2px solid #304f64;
}
table tbody > tr:nth-of-type(even) {
  background-color: #082437;
}
table th {
  padding: 10px 15px;
}
table td {
  padding: 10px 15px;
}

a:hover:not(nav a) {
  text-decoration: underline;
}

.form {
  padding: 1.2rem;
  border-radius: 0.5rem;
}
.form input,
.form textarea,
.form button {
  width: 100%;
  padding: 1.2%;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 5px 0 8px;
}
.form .header {
  font-weight: 800;
  margin: 0 0 10px;
}

.input .pic {
  margin: 3px;
}
.input .pic img {
  max-width: 15%;
}

.lr {
  margin: auto !important;
  max-width: 40%;
}
.lr h3 {
  text-align: center;
}

#popup {
  top: 75%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  max-width: 30%;
  padding: 20px;
  border-radius: 8px;
  background-color: #0c1a24;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#popup.report {
  top: 55%;
  left: 50%;
  color: white;
}

.poplink,
#popup {
  text-align: center;
}
.poplink button[type=submit],
#popup button[type=submit] {
  color: #4cca51 !important;
}
.poplink button,
#popup button {
  all: unset;
  color: #fabd2f !important;
  cursor: pointer;
}

.h150 {
  width: 500px;
  height: 150px;
}

.h300 {
  width: 500px;
}

#other-div,
#scam-div {
  display: none;
}

.add {
  width: 60px;
  height: 25px;
  padding: 2px;
  font-size: 12px;
  font-weight: 800;
  margin: 3px 0 0 0;
  border-radius: 6px;
  text-align: center;
  color: #0c1a24;
  background-color: #4793cc;
}
.add:hover {
  text-decoration: none;
  background-color: #54a4dc;
}

.searchbar {
  display: flex;
}
.searchbar form {
  width: 100%;
  padding: 1.2rem 8px;
}
.searchbar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

#search {
  padding-left: 40px;
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0,0,256,256'%3E%3Cg fill='%23ffffff' %3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M21,3c-9.37891,0 -17,7.62109 -17,17c0,9.37891 7.62109,17 17,17c3.71094,0 7.14063,-1.19531 9.9375,-3.21875l13.15625,13.125l2.8125,-2.8125l-13,-13.03125c2.55469,-2.97656 4.09375,-6.83984 4.09375,-11.0625c0,-9.37891 -7.62109,-17 -17,-17zM21,5c8.29688,0 15,6.70313 15,15c0,8.29688 -6.70312,15 -15,15c-8.29687,0 -15,-6.70312 -15,-15c0,-8.29687 6.70313,-15 15,-15z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-position: 10px center;
}

.product-bar {
  display: flex;
  gap: 1rem;
  margin: 8px 0 0 8px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 15px 0 0 0;
}

.product {
  margin: 8px;
  max-width: 10rem;
  border-radius: 0.5rem;
}
.product img {
  max-width: 100%;
  object-fit: contain;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.product p {
  text-align: center;
  margin: 0 3px 6px;
}
.product #product-name {
  font-weight: 800;
}

.pdetails {
  display: flex;
  margin: 1.5rem 0 0 0;
}
.pdetails img {
  width: 30%;
  margin: 0 0 0 10%;
}
.pdetails section {
  min-width: 30%;
  max-width: 35%;
  margin: 0 0 0 5%;
}
.pdetails hr {
  margin: 0.5rem 0;
}

.phead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  border-bottom: 1px solid #9198a1;
}
.phead .stock {
  color: #4cca51;
}
.phead .stock.low {
  color: #fe8019;
}
.phead .stock.nil {
  color: #ff4343;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 0.8rem;
}

.product-cart {
  display: flex;
  justify-content: space-between;
}
.product-cart .price {
  font-weight: 500;
  font-size: 30px;
}

.p-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 5px 0;
}
.p-action input {
  width: 5rem;
}

.q-update {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}

.desc {
  margin: 10px 0 0 0;
}

.metadata {
  display: flex;
  font-size: 12px;
  margin: 1rem 0 0 10%;
  flex-direction: column;
}
.metadata .dates {
  margin: 0 0 2rem 0;
}

.tag-container {
  display: flex;
  max-width: 500px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 2em;
  margin: 3px 5px;
  flex: 0 0 15%;
  justify-content: space-around;
}
.tag input[type=text] {
  all: unset;
  max-width: 80px;
  border-bottom: 1px solid #1f6feb;
}
.tag input[type=submit] {
  all: unset;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #4cca51;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags a:hover {
  text-decoration: none;
}

#tag-delete {
  display: none;
  all: unset;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#tag-add-form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 2em;
  margin: 5px 5px;
}
#tag-add-form input[type=text] {
  all: unset;
  max-width: 80px;
  border-bottom: 1px solid #1f6feb;
}
#tag-add-form input[type=submit] {
  all: unset;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #4cca51;
}

.reviews,
.similar {
  margin: 1.5rem 0 1.5rem 10%;
}

.reviews {
  max-width: 35%;
}
.reviews h2 {
  display: inline;
}
.reviews #h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: nowrap;
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  border-bottom: 1px solid #9198a1;
}
.reviews form {
  padding: 0;
  border: none;
  display: none;
  box-shadow: none;
  margin: 0 0 3rem 0;
}
.reviews form div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reviews form div:last-of-type button {
  margin: 5px 5px 8px;
}
.reviews hr {
  width: 100%;
}
.reviews button {
  width: 20%;
}

#add-comment {
  cursor: pointer;
}

.cancel {
  cursor: pointer;
  background-color: #de3b3b;
}
.cancel:hover {
  background-color: #ff4343;
}

.delete {
  color: #ff4343;
  background-color: #0c1a24;
}

.comments {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10%;
}
.comments a {
  font-size: 15px;
  font-weight: 700;
}

.comment {
  display: flex;
  margin: 0 0 1.5rem 0;
}
.comment img {
  width: 50px;
  height: 100%;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.comment .content {
  display: flex;
  flex-direction: column;
}
.comment .chead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.comment .chead a {
  cursor: pointer;
  font-weight: unset;
}
.comment .chead span:first-of-type {
  color: #9198a1;
  margin: 0 0 0 10px;
}
.comment .chead .cedit {
  margin: 0 0 0 10px;
}
.comment .edit {
  margin: 0;
  padding: 0;
  border: none;
  display: none;
}
.comment .edit div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.comment .edit div button {
  margin: 5px 5px 8px;
}
.comment form {
  display: inline;
}

.star {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
}
.star.fill {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rating.display {
  flex-direction: unset;
}
.rating.display span:nth-of-type(6) {
  margin-left: 5px;
}
.rating.display #buyers {
  margin: 0 5px;
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

#cart-add {
  background-color: #4caf50;
}

#cart-del {
  background-color: #ff4343;
}

.cart {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 20px;
  padding: 1.2rem;
  border-radius: 0.5rem;
  min-height: 80vh;
  justify-content: flex-start;
}
.cart a:hover {
  text-decoration: none;
}
.cart .title {
  font-size: 30px;
  margin: 0 10px 0 0px;
  border-bottom: 1px solid #9198a1;
}
.cart .title p {
  margin-left: 10px;
}
.cart img {
  width: 5rem;
}
.cart .heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 0 5px 5rem;
  border-bottom: 1px solid #9198a1;
}
.cart .heading p {
  margin: 5px 10px 0 10px;
}
.cart .heading p:last-of-type {
  margin: 5px 4rem 0 auto;
}
.cart .product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  margin: 10px 0;
  max-width: 100%;
}
.cart .product p:last-of-type {
  margin: 5px 10px 0 auto;
}
.cart .product a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.3rem;
}
.cart .product a p {
  margin: 0 0 0 30px;
}
.cart .product form {
  margin: 0 10px 0 10px;
}
.cart .product button {
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.cart .total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #9198a1;
  margin-top: auto;
  padding: 10px 0 0 0;
}
.cart .total p {
  font-size: 20px;
}

.checkout {
  display: flex;
  justify-content: flex-end;
}
.checkout button {
  margin: 2px;
  padding: 0.3rem 0.5rem;
  background-color: #4caf50;
}

.settings {
  justify-content: space-around;
  margin: 1.5rem 50px 0;
}
.settings .menu {
  width: 200px;
  max-height: 197px;
  display: flex;
  border-radius: 0.5rem;
}
.settings .menu a:last-of-type {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.settings .forms {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}
.settings input[type=file] {
  display: block;
  max-width: 33%;
}
.settings button[type=submit] {
  max-width: 150px;
}
.settings .delete {
  border: 2px solid #ff4343;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0 0 0;
  background: repeating-linear-gradient(45deg, rgba(255, 67, 67, 0.2), rgba(255, 67, 67, 0.2) 10px, rgba(4, 18, 27, 0.2) 10px, rgba(4, 18, 27, 0.2) 20px);
}
.settings .delete button {
  max-width: 150px;
  background-color: #de3b3b;
}
.settings .delete button:hover {
  background-color: red;
}

.toggler {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  width: 60px;
  height: 34px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle .slider {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 24px;
  background-color: #3d444d;
  cursor: pointer;
}
.toggle .slider:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
}
.toggle input:checked + .slider {
  background-color: #4cca51;
}
.toggle input:checked + .slider:before {
  transform: translateX(26px);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background-color: #0c1a24;
  }
  a {
    color: #54a4dc;
  }
  .messages {
    color: #0c1a24;
  }
  .messages li.success {
    background-color: #4cca51;
  }
  .messages li.warning {
    background-color: #fabd2f;
  }
  .messages li.error {
    background-color: #ff4343;
  }
  .messages li.info, .messages li.debug {
    background-color: #54a4dc;
  }
  .product {
    outline: none;
    background-color: #04121b;
    border: 0.0625rem solid #3d444d;
  }
  .product:hover {
    box-shadow: 5px 5px #4793cc;
  }
  .tag {
    background-color: #082437;
    border: 1px solid #304f64;
  }
  .tag:hover {
    color: #ffffff;
    background-color: #1f6feb;
  }
  .tags a {
    color: #1f6feb;
  }
  #tag-delete {
    color: #ffffff;
    background-color: #ff4343;
  }
  #tag-add-form {
    background-color: #082437;
    border: 1px solid #304f64;
  }
  #tag-add-form label,
  #tag-add-form input {
    color: #fabd2f;
  }
  .settings {
    color: #ffffff;
  }
  .menu {
    outline: none;
    border: 1px solid #3d444d;
    background-color: #04121b;
  }
  .menu a {
    color: #ffffff;
  }
  .menu a:hover {
    background-color: #304f64;
  }
  .menu .active {
    background-color: #082437;
  }
  #umenu {
    box-shadow: 0 6px 8px rgba(0, 0, 1, 0.1019607843);
  }
  .form,
  .cart {
    border: 1px solid #3d444d;
    background-color: #04121b;
  }
  .form.search {
    border: none;
  }
  .comment .edit {
    background-color: unset;
  }
  .form input,
  .form textarea {
    color: #ffffff;
    border: 1px solid #3d444d;
    background-color: #082437;
  }
  .form input:focus,
  .form textarea:focus {
    border: none;
    outline: 0.08rem solid #54a4dc;
    box-shadow: inset 0 0 0 1px #1f6feb;
  }
  .form button {
    color: #ffffff;
  }
  .form button[type=submit] {
    color: #ffffff;
    background-color: #4caf50;
  }
  .form button[type=submit]:hover {
    background-color: #4cca51;
  }
  .reviews form,
  .form.search {
    background-color: #0c1a24;
  }
  .cart a {
    color: #f1f3f5;
  }
  .cart .product {
    background-color: #082437;
  }
}
