<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <script src="{% static 'index.js' %}"></script>
    </head>
    <body>
        {% include '../components/navbar.html' %}

        {% block content %}{% endblock %}
    </body>
</html>
